.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App {
  text-align: center;
  background-color: #24272de8;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

main {
  max-width: 75%;
}

img {
  width: 54px;
  height: 54px;
  margin-right: 12px;
}

.card {
  background-color: #27292d;
  padding: 16x 12px 0px 12px;
}

.card-title {
  font-size: 16px;
  color: #cddc39;
}

.card-text {
  font-size: 14px;
  color: #ffffff;
}

.location {
  font-size: 12px;
}

.chips span {
  color: #ffffff;
  font-size: 14px;
  border: 1px solid #c2c2c2;
  background: none;
  border-radius: 5px;
  height: 32px;
  margin-right: 6px;
  margin-top: 4px;
  padding: 5px 16px;
}

.card__interests {
  color: #ffffff;
  font-size: 14px;
}

.card__interests ul {
  text-decoration: none;
  list-style: none;
  padding-left: 7px;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link {
  color: rgba(255, 255, 255, 0.65);
  background-color: none !important;
  border: none;
  border-color: transparent;
}

/*.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: #cddc39;
  background-color: none;
  border-bottom: 3px solid #cddc39;
  border-color: none;
}*/

.btn-torre {
  background-color: #cddc39;
  color: black;
  width: 25%;
}

.btn-torre:hover {
  background-color: #cddc39;
  color: black;
}
